{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block jumbo %}
    <div class="jumbo">
    <div class="">
        <div class="">
            <div class="">
                <div class="bloc">
                <h1 class="text-white text-center titlet text-uppercase">Join us to have funny tricks</h1>
                   <a href="#tricks" class="scrollDown btn "><i class="fas fa-arrow-down fa-3x text-success"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}

{% block body %}  
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    {% if app.user %}
    <div class="mb-5 mt-4">
        <a href="{{ path('trick_create') }}" class="btn btn-success">Add Trick</a>  
    </div>
    {% endif %}
    
    {{ render(path('paginated_tricks', {page: 1})) }}
    
    <div class="mt-5 text-center page" >
        <a href="{{path('paginated_tricks',{'page': page + 1})}}" id="loadMore" class="p rounded" name = "{{page + 1 }}">Load more ...</a>

    </div>

    <button class="scrollToTop btn"><i class="fas fa-arrow-up fa-3x text-success"></i></button>  


{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/loadMore.js"> </script>
    <script src="/assets/js/scrollTop.js"></script>
{% endblock %}