{{ form_widget(form._token) }}
                    
 
<button type="button" class="btn btn-success btn-new mt-3" data-collection="#pictures">Add image</button>
<div
        id="pictures"
        class="row"
        data-prototype="{{ include("trick/form/_picture.html.twig", {form: form.pictures.vars.prototype})|e("html_attr") }}"
        data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}">
    {% for picture in form.pictures %}
        <div class="col-4">
            {{ include("trick/form/_picture.html.twig", {form: picture}) }}
        </div>
    {% endfor %}
</div>

