{{ form_row(form.videoUrl) }}
<div class="form-group">
    <iframe width="250" height="150" src="" title="" class="d-none mt-2 d-block"></iframe>
    <button type="button" class="btn btn-danger btn-remove mt-2">Remove</button>
</div>