<div class="row " id="trick">    
    {% for trick in tricks %}
        <div class="mb-5 col-md-6 col-lg-6 col-xl-4 ">
             
                <div class="card "  >
                    <img class="" src="assets/img/slide-trick.jpg" alt="image du produit">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="card-title">{{trick.name | upper }}</h4>
                            {% if app.user %}
                            <div>
                                <a href="#"><i class="fas fa-pen me-2 p-1 border rounded"></i></a>
                                <a href="#"><i class="fas fa-trash-alt p-1 border rounded text-danger"></i></a>
                            </div>
                            {% endif %}
                        </div>                        
                        <span class="badge bg-info">{{trick.Category.name}}</span>
                        <div class="d-flex justify-content-end">
                            <a href="{{path('trick_show', {
                                        'category_slug': trick.category.slug,
                                        'slug': trick.slug })}}" 
                                class="btn btn-secondary ">
                                See details
                            </a>
                        </div>
                        
                    </div>
                </div>
                
            
        </div>
    {% endfor %}
    
</div>
<input type="hidden" id='page' name='{{nbOfPages}}'>